@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
/* {
    font-family: 'Poppins', sans-serif;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
  color: #111;
}
/* body{
    min-height: 1000px;
} */

#myVideo {
    position: relative;
    right: 0;
    bottom: 0; 
    width: 100%;
     /* min-width: 100%; 
    min-height: 100%; */
  }


.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-sizing: border-box; */
  background: url(img/sl3.jpg);
  /* background: url(img/vd1.mp4); */
  background-size: cover;
}



  
 
/* w3school slides */


/* slides */
.banner .content {
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: #fff;
}

.banner .content p{
    font-size: 1em;
    color: #fff;
}

/* .butn{
    padding: 10px 30px;
    margin-top: 20px;

} */


/* text */

.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
    /* color: #ff0157; */
    color: whitesmoke;
    font-weight: 700;
    font-size: 1.5em;
    font-size: 1em;
    font-weight: 500;
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}


    
/* //// */
.search-container {
    position: relative;
  }

  input[type=text] {
      /* margin-bottom: 216px; */
    padding: 12px 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 10px;
    width: 800px;
  }

  /* Style the submit button */
  .search-container button {
    /* float: right; */
    position: absolute;
    margin-top: 8px;
    width: 12%;
    padding: 12px 6px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: #bbb;
  }
/* ////// */

  
  
  
.btn{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}


/* for button hower */

.btn:hover{
    letter-spacing: 6px;
}

/* header which is sticky */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0,0.05);
}

/* "food" logo */

header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

/* making logo sticky */

header.sticky .logo{
    color: #111;

}

header .logo span{
    color: #ff0157;

}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

/* color changed to black of nav when we scroll */
header.sticky .navigation li a{
    color: #111;
}

/* nav stikcy */
header .navigation li a:hover{
    color: #ff0157;
}

section{
    padding: 100px;
}



.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
}

.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgBx{
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}

.row .col50 .imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* image hover zoom */

/* Brightness-zoom Container */
.row .col50 .imgBx .img-hover-zoom--brightness img {
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
  }
  
  /* The Transformation */
  .row .col50 .imgBx .img-hover-zoom--brightness:hover img {
    filter: brightness(100%);
    transform: scale(1.3);
  }
  /* ///// */

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* for menu content*/
.menu .content{
    opacity:1;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}


.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0,0.08);
}

/* for our menu img box */

.menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;

}

/* for our menu image */

.menu .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* image hover zoom */

/* Quick-zoom Container */
.menu .box .imgBx .img-hover-zoom--quick-zoom img {
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
  }
  
  /* The Transformation */
  .menu .box .imgBx .img-hover-zoom--quick-zoom:hover img {
    transform: scale(1.2);
  }
  /* ///// */

 .menu .content .box .text{
    padding: 15px 0 5px;
}


.menu .content .box h3{
    font-weight: 400;
    color: #111;
}

/* for keep in middle of page */
.expert .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.expert .content .box{
    width: 250px;
    margin: 15px;

}

.expert .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}

.expert .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expert .content .box .text{
    padding: 15px 0 5px;
}

.expert .content .box .text h3{
    font-weight: 400;
    color: #111;
}

/* image hover */


/* Brightness-zoom Container */
.expert .content .box .imgBx .img-hover-zoom--brightness img {
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
  }
  
  /* The Transformation */
  .expert .content .box .imgBx .img-hover-zoom--brightness:hover img {
    filter: brightness(100%);
    transform: scale(1.3);
  }
  /* ///// */




/* animation start */
.expert .content .box .imgBx  .caption-style-1{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    
}

.expert .content .box .imgBx .expert .content .box .imgBx .caption-style-1 li{
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.expert .content .box .imgBx  .caption-style-1 li:hover .caption{
    opacity: 1;

}


.expert .content .box .imgBx .caption-style-1 img{
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}


.expert .content .box .imgBx  .caption-style-1 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;

}
.expert .content .box .imgBx  .caption-style-1 .blur{
    background-color: rgba(0,0,0,0.65);
    height: 300px;
    width: 250px;
    z-index: 5;
    position: absolute;
}

.expert .content .box .imgBx  .caption-style-1 .caption-text h1{
    text-transform: uppercase;
    font-size: 24px;
   
    
}
.expert .content .box .imgBx  .caption-style-1 .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 250px;
    height: 300px;
    text-align: center;
    top:100px;
}
  /* //over */
/* for testimonials */

.testimonials{
background: url(img/bg2.jpg);
background-size: cover;
}

.white .titleText,
.white p{
    color: #fff;
}

.testimonials .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonials .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .imgBx{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}


.testimonials .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box  .text{
    text-align: center;
}
 
.testimonials .content .box .text p{
    color: #666;
    font-style: italic;
}

.testimonials .content .box .text h3{
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0157;
    font-weight: 600;
}

/* for contact */

.contact{
    background: url(img/bg3.jpg);
    background-size: cover;
}

.contactForm{
    padding: 75px 50px;
    background: #fffb;
    box-shadow: 0 15 50px rgba(0,0,0,0,0.1);
    max-width: 500px;
    margin-top: 50x;
}

.contactForm h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font: 300px;
    resize: none;
}

.contactForm .inputBox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5px;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}


.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0,0.1);
    text-align: center;
}

.copyrightText p{
    color: #333;
}

.copyrightText a{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 991px)
{
    header,header.sticky{
        padding: 10px20px;
    }
    header .navigation{
        display: none;
    }
/* 
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer; */
    }

    /* .menuToggle.active{
        background: url(img/close.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sicky .menuToggle{

    }
} */
    
/**.menu .content*/
.menu .content.disp > div:nth-child(2n+1) {
    
    display: none;
}

/*Liknk below food category*/
#foodlink, #foodlink:visited, #foodlink:hover {
    text-decoration: none;
}


/*animation of menu content*/
/* } */

/*@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }

    99% {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 300ms ease-in-out forwards;
}*/